<p>jjjjjjjj</p>
<div class="floor-plan-container" #floorPlanContainer (mouseup)="onDropWifi($event)" (mouseleave)="onMouseLeave()">
    <img [src]="floorPlanImage" alt="Floor Plan" class="floor-plan-image">
  
    <div
      *ngFor="let wifiSymbol of wifiSymbols; let i = index"
      class="wifi-symbol"
      [style.left.px]="wifiSymbol.x"
      [style.top.px]="wifiSymbol.y"
      (mousedown)="onDragStart(i, $event)"
    >
      <img src="wi-fi.png" alt="Wifi Symbol" class="wifi-icon">
      <span class="wifi-label">Wifi {{ i + 1 }}</span>
    </div>
  
    <button class="add-wifi-button" (click)="addWifiSymbol()">เพิ่มสัญลักษณ์ Wifi</button>
  </div>